.ListContainer {
  background-color: #2a75bb;
  border-radius: 20px;
  padding-top: 8%;
  padding-bottom: 2%;
  width: 60%;
}

.PokemonList {
  font-family: Flexo;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  gap: 1%;
  place-items: center;
}

.pokeButton {
  background-color: #ffcb05;
  border-radius: 5px;
  border-collapse: collapse;
  font-family: Flexo;
  font-size: 110%;
  width: 10%;
  height: 10%;
  position: fixed;
  justify-content: center;
  top: 40%;
  right: 5%;
}
