.ListContainer {
  background-color: cornflowerblue;
  margin: 3%;
  padding: 3%;
  border-radius: 25px;
  width: 50%;
}

.PokemonList {
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}
