.listFont {
    background-color: #191970;
    height: 100vh;
    width: 100%;
    position: relative;
}

.teamList {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    gap: 21px
}
