.bigButton {
    background-color: var(--color-electric);
    border-radius: 5px;
    font-family: Flexo;
    font-size: 14px;
    font-weight: bold;
    width: 110px;
    height: 45px;
    position: fixed;
    bottom: 1.5%;
    right: 11%;
    box-shadow: inset 0 0 0 1px rgb(255, 255, 255);
}

.mailButton {
    box-shadow: inset 0 0 0 1px rgb(255, 255, 255);
    background-color: #4b6cb7;
    border-radius: 5px;
    font-family: 'Flexo';
    font-size: 14px;
    font-weight: bold;
    width: 110px;
    height: 45px;
    position: fixed;
    top: 50%;
    right: 3%;
    color: #ffffff;
}

.changeButton {
    box-shadow: inset 0 0 0 1px rgb(255, 255, 255);
    background-color: #ffffff;
    border-radius: 5px;
    font-family: 'Flexo';
    font-size: 14px;
    font-weight: bold;
    width: 110px;
    height: 45px;
    position: fixed;
    top: 40%;
    right: 3%;
}
