.pokeData {
  display: flex;
  align-items: center;
  background-color: #263238;
  opacity: 70;
  border-radius: 10px;
  font-size: 12px;
  font-family: "Flexo";
  width: 20rem;
  height: 12rem;
  justify-content: center;
  text-align: left;
  color: white;
  transition: width, height, font-size, 0.7;
  transition-delay: 0.2s;
  transition-duration: 0.5s;
  padding: 0.5rem;
}

.expandedData {
  width: 200px;
}

.pokeData:hover {
  width: 90%;
  height: 90%;
  font-size: 90%;
}

.pokeInfo {
  display: flex;
  flex-direction: column;
}

.name label {
  font-size: 25px;
}

.pokeForm {
  display: flex;
}

.pokeType {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.pokeType label {
  font-size: 15px;
  margin-right: 5px;
}

.pokeSprite {
  min-width: 150px;
  max-height: 150px;
}

.pokeSprite img {
  width: 90%;
}

.type {
  border: outset 0, 5px;
  border-radius: 5px;
  padding: 3px;
  color: black;
}

.type label {
  margin-left: auto;
  margin-right: auto;
}
