.pokeData {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: "Flexo";
  width: 20rem;
  height: 12rem;
  justify-content: left;
  text-align: left;
  color: white;
  padding: 0.5rem;
  position: relative;
  transition-delay: 200ms;
  transition-duration: 200ms;
  transition-property: all;
}

.expandedData {
  width: 200px;
}

.pokeInfo {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.name label {
  font-size: 24px;
}

.pokeID {
  font-size: 17px;
}

.pokeForm {
  display: flex;
}

.pokeSprite {
  min-width: 180px;
  max-height: 180px;
  position: absolute;
  margin-left: 10em;
}

.pokeSprite img {
  width: 90%;
}
