.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primary);
  width: 100%;
  padding-bottom: 40%;
}

.LogoContainer {
  padding: 10px;
}

.logoBox {
  width: 80px;
  height: 80px;
  justify-content: center;
  display: flex;
  position: fixed;
  top: 4%;
  left: 26%;
}
