.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primary);
  width: 100%;
  height: 100%;
}

.LogoContainer {
  padding: 11px;
}

.logoBox {
  display: inline;
  width: 500px;
  height: 184px;
  margin: 25%;
}

.logo {
  max-width: 50%;
}
